* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0c2a3d;
  color: #ffffff;
  line-height: 1.2;
}
.cabec {
  background-color: #000;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 0px;
  text-decoration: none;
}
header {
    background-color: #000;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: large;
  color: #fff;
  font-weight: 500;
}
.fmouratxt .ratio {
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.fmoura {
  background-image: url(IMG-20250531-WA0004.jpg);
  background-size: cover;
  padding: 60px 20px;
}
.fmourac {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .fmourac {
    flex-direction: column;
    text-align: center;
  }
}

.fmouraimg {
  flex: 1 1 500px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fmouraimg img {
  max-width: 800px;
  width: 100%;
  border-radius: 8px;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
.secinfo {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 20px;
  border-top: 5px solid #fff;
}

.infoco {
  
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.infotxt {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
}

.infotxt h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.infotxt p {
  font-size: 18px;
  line-height: 1.6;
}

.infoimg {
  flex: 1;
}

.infoimg img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

#youtube-player {
  flex: 1;
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.youtube-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container a {
  text-decoration: none;
}
